.splashContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Default background, can be dynamic */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.splashContainer.fadeOut {
  opacity: 0;
}

.splashContent {
  color: #fff;
  font-size: 2rem;
  /* Add more styling for your content */
}

.splashVideo {
  position: absolute;
  top: 25%;
  align-items: center;
  width: 150%;
  object-fit: cover; /* Cover the entire container */
  z-index: -1; /* Behind the content */
}