

@keyframes moveNeonGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

:root {
  --accent-color: #ffffff; /* Changed to white */
}

html {
}

body {
  color: #ffffff;
  min-height: 100vh;
  height: 100%; /* Ensure body takes full height */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}